body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: powderblue;
  }
  .wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }
  
  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
  }
  
  .scores {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .feedback {
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid rgb(201, 193, 193);
  }
  
  .timer {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  a {
    color: black;
    text-decoration: none;
    transition: color 0.1s;
  }
  
  a:hover {
    color: #70707a;
  }
  
  button {
    display: inline-block;
    margin: 50px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    background-color: mediumpurple;
    border-radius: 5px;
    padding: 20px;
    color: white;
    border: solid 4px black;
    transition: background-color 0.1s;
  }
  
  button:hover {
    background-color: silver;
  }
  
  .choices button {
    display: block;
  }
  
  input[type="text"] {
    font-size: 100%;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #dfdae7;
  }